<div class="menu">
	<section class="seperator">
		<h3>Menu</h3>
	</section>

	<ul>
		<li class="active"><a href="#"><span class="icon-dashboard"></span> Dashboard</a></li>
		<li><a href="#"><span class="icon-ticket"></span> Tokens <span class="notif">3</span></a></li>
		<li><a href="#"><span class="icon-phone"></span> Recent Calls</a></li>
		<li><a href="#"><span class="icon-group"></span> Contacts</a></li>
		<li><a href="#"><span class="icon-envelope"></span> Messages</a></li>
	</ul>
</div>
<div class="menu_hidden">
	<header>
		<section class="pic">
			<img src="https://pbs.twimg.com/profile_images/378800000743430771/6f25eb16c5a98bd5e87d697436c2e5f0.jpeg" />
		</section>
		<section class="info">
			<h2><%= username %></h2>
			<p>Level <%= level %></p>
		</section>
		<section class="settings">
			<a href="#/settings"><span class="icon-cog"></span> Settings</a>
		</section>
	</header>

	<!--<nav class="game_options">
		<a href="#" class="active"><span class="icon-rocket"></span> Current Battles</a>
		<a href="#"><span class="icon-search"></span> New Battle</a>
	</nav>-->
	<nav class="actions">
		<a href="#"><span class="icon-microphone"></span> New Call</a>
	</nav>

	<section class="seperator">
		<h3>Recent</h3>
		<p>5 calls today</p>
	</section>

	<section class="call_list">
		<div class="item">
			<img src="https://lh3.googleusercontent.com/-PiA9-mQwX4M/AAAAAAAAAAI/AAAAAAAAAAA/UvmSIUmb3no/s60-c-k/photo.jpg" />
			<div class="info">
				<h2>John Snow</h2>
				<p>Level 1</p>
			</div>
			<a href="#"><span class="icon-envelope-alt"></span></a>
		</div>
	</section>

	<section class="seperator">
		<h3>Achievements</h3>
		<p>3 unlocked</p>
	</section>

	<section class="achievement_list">
		<div class="item">
			<div class="icon"><span class="icon-group"></span></div>
			<div class="info">
				<h2>Frenetic</h2>
				<p>Participated in a total of 50 calls.</p>
			</div>
		</div>
		<div class="item">
			<div class="icon"><span class="icon-heart"></span></div>
			<div class="info">
				<h2>Loved</h2>
				<p>Got highly rated in 10 calls.</p>
			</div>
		</div>
		<div class="item">
			<div class="icon"><span class="icon-magic"></span></div>
			<div class="info">
				<h2>3 is a magic number</h2>
				<p>Reached level 3.</p>
			</div>
		</div>
	</section>
	<a href="#" class="logout" style="color: #fff; display: none;">Logout</a>
</div>